.App header{
  min-height: 10vh;
  
}

.App main{
  margin:5%;
}

.App main h1{
  margin-top:5%;
  text-align: center;
}

.App main h2{
  margin-bottom:5%;
  text-align: center;
}


.App header a img{
  width: 50px;
}

.App footer {
  margin-top: 10%;
  text-align: center;
}


